shamefully-hoist=false
strict-peer-dependencies=true
only-built-dependencies=better-sqlite3 core-js esbuild sharp unrs-resolver
only-built-d-files=better-sqlite3,core-js,esbuild,unrs-resolver,sharp
